.h4-pt {
  padding-top: 10px;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-helper {
  width: 70%;
  margin: auto;
}

/* No Bottom Margin On Row */
.row-no-mb {
  margin-bottom: 0 !important;
}

.card-helper {
  margin-bottom: 0 !important;
  padding: 6px !important;
}
/* Text Styling */
.h5-helper {
  margin: 0.2rem 0 0.2rem 0 !important;
}
